[submodule "attack_tools/mirai"]
	path = attack_tools/mirai
	url = git@github.com:fabbrus97/mirai
[submodule "attack_tools/CVE-2014-6271"]
	path = attack_tools/CVE-2014-6271
	url = https://github.com/b4keSn4ke/CVE-2014-6271
[submodule "attack_tools/iot-malware"]
	path = attack_tools/iot-malware
	url = git@github.com:fabbrus97/iot-malware
[submodule "attack_tools/Saddam-new"]
	path = attack_tools/Saddam-new
	url = https://github.com/S4kur4/Saddam-new
